<div class="row">
<h2>Library Books</h2> <br>
</div>
<input type="text" class="form-control" ng-model="searchText" placeholder="Search Titles or Authors">
<select class="form-control" ng-model="orderBooks">
  <option selected disabled>Order By...</option>
  <option value="title">Title</option>
  <option value="author">Author</option>
</select>
<button ng-click="booksIndexCtrl.reload(); addForm=!addForm" class="btn btn-default">Toggle Add Form</button>
<hr>
<div ng-show="addForm">
  <br>
  <form ng-show="addForm">
    <div class="form-group">
      <input type="text" ng-model="booksIndexCtrl.book.title" class="form-control" placeholder="Title">
    </div>
    <div class="form-group">
      <input type="text" ng-model="booksIndexCtrl.book.author" class="form-control" placeholder="Author">
    </div>
    <div class="form-group">
      <input type="text" ng-model="booksIndexCtrl.book.image" class="form-control" placeholder="Image">
    </div>
    <div class="form-group">
      <input type="text" ng-model="booksIndexCtrl.book.releaseDate" class="form-control" placeholder="Release Date">
    </div>
    <button type="submit" class="btn btn-default" ng-click="booksIndexCtrl.postBook(booksIndexCtrl.book)">Add Book</button>
  </form>
</div>

<div ng-repeat="book in booksIndexCtrl.books | orderBy: orderBooks | filter: searchText">
  <hr>
	<div class="row">
		<div class="col-xs-4">
			<img ng-src="{{book.image}}" class="img-responsive">
		</div>
		<div class="col-xs-8">
      {{book._id}}
			<h5><a ng-href="/books/{{book._id}}">{{book.title}}</a></h5>
			<br>
			<p class="small">Written by {{book.author}}</p>
			<p class="small">Released {{book.releaseDate}}</p>
		</div>
	</div>
</div>
